*.venv
*.idea
config.py
*.pt
*__pycache__
*datasets
*runs
/export/dataset.txt
/export/dataset/images/drone_frame_6.jpg
/export/dataset/images/drone_frame_8.jpg
/export/dataset/images/drone_frame_10.jpg
/export/dataset/images/drone_frame_11.jpg
/export/dataset/images/drone_frame_16.jpg
/export/dataset/images/drone_frame_18.jpg
/export/dataset/images/drone_frame_19.jpg
/export/dataset/images/drone_frame_20.jpg
/export/dataset/images/drone_frame_21.jpg
/export/dataset/images/drone_frame_23.jpg
/export/dataset/images/drone_frame_24.jpg
/export/dataset/images/drone_frame_25.jpg
/export/dataset/images/drone_frame_26.jpg
/export/dataset/images/drone_frame_28.jpg
/export/dataset/images/drone_frame_29.jpg
